.products{
  table{
	border-collapse: collapse;
  }

  table tr td{
	padding: 5px;
	vertical-align: top;
  }
  
  .list_image {
	width: 60px;
	height: 70px;
  }

  .list_description {
	width: 60%;

	dl{
	  margin: 0;

